{erl_opts, [
    debug_info,
    nowarn_export_all,
    nowarn_shadow_vars,
    {i, "./include"},
    nowarn_unused_vars
]}.

{deps, [
    {cowboy,"2.7.0"},
    {jsx,               {git, "https://github.com/abeniaminov/jsx.git",             {branch, "v2.8.0"}}},
    {sync, "0.1.3"},
    {iso8601, "1.3.1"},
    {uuid,              {git, "https://github.com/avtobiff/erlang-uuid.git",        {branch, master}}},
    {gproc,             {git, "https://github.com/uwiger/gproc.git",                {branch, master}}},
    {recon,             {git, "https://github.com/ferd/recon.git",                  {branch, master}}},
    {observer_cli,      {git, "https://github.com/zhongwencool/observer_cli.git",   {branch, master}}}
]}.


{relx, [{release, {chat, "0.1.0"},
         [chat,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]}.
