[
  {kernel,
    [
      {logger,
         [
           { handler,
             default,
             logger_std_h,
             #{config => #{file => "./logs/chat.log"}}
           }
         ]
      }
    ]
  },
  {chat, [
    {cowboy_http,
      [
        {nbacceptors, 100},
        {ip, {0, 0, 0, 0}},
        {http_port, 8001}
      ]},
    {cowboy_ws,
      [
        {nbacceptors, 100},
        {ip, {0, 0, 0, 0}},
        {http_port, 9001}
      ]}
  ]}
].
